<%- include("partials/header") %>

<div>
    <p><h3><%= data.name %></h3></p>
    <p>Address : <%= data.address %></p> 
    <p>Phone number : <%= data.phone_number %></p> 
    <p>Opening hour : <%= data.open_hour %></p> 
    <p>Rating : <%= rating %></p> 
</div>

<div class="div-form">
    <form method="POST" action="/restaurant/book/<%= data.id %> ">
        <div class="form-group">
            <label for="reservation_date">Reservation Date</label>
            <input type="datetime-local" value="2020-08-19T13:45:00" class="form-control" id="reservation_date" name="reservation_date">
        </div>
        <div class="form-group">
            <label for="people" class="col-2 col-form-label">People</label>
            <input class="form-control" type="number" value="1" id="people" name="person">
        </div>
        <button type="submit" class="btn btn-primary">Book</button>
    </form>
</div>

<%- include("partials/footer") %> 